.app {
  .brand {
    font-weight: bold;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}

.appContent {
  margin: 50px 0; // for fixed navbar
}

.navbar {
  margin-left: 50px;
}